.Rhistory
*/.Rhistory
*/*.Rdata

# Folders that can be ignored
articles/
data/
docs/
misc/
outputs/

# Files that can can be ignored
deccma_data.R
isimip_data_district.R

# R functions that can be ignored
code/*
!code/functions.R
!code/isimipHist_VC_station.R
!code/isimipRCP_VC_station.R
!code/isimipRCP_VC_station.R
!code/vc_estimation.R

# data that can be ignored
data/*
# !data/bgd_adm_bbs_20201113_shp/
# !data/ISIMIP_data/
!data/ListOf35BMDstations.csv 
!data/station_grids.txt

# Previous output folders can be avoided
outputs/*
# !outputs/Figures_2021_VC_paper/
